* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #434242;
  color: white;
  font-family: cursive;
}
.navbar li {
  position: relative;
}
.navbar li::before {
  position: absolute;
  content: "";
  top: 90%;
  background: white;
  width: 0%;
  height: 2px;
  transition: width 300ms;
}

.navbar li:hover::before {
  width: 100%;
}

.button {
  position: fixed;
  bottom: 80px;
  right: 7vw;
  background: #000;
  padding: 15px;
  border-radius: 50%;
}
